@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

.wrap::after {
  content: "";
  display: block;
  clear: both;
}

fieldset {
  border: none;
}

table {
  border-collapse: collapse;
}

#header_sub {
  width: 100%;
}
#header_sub .inner {
  width: 1180px;
  height: 157px;
  margin: 0 auto;
  position: relative;
}
#header_sub .inner > h1 {
  position: absolute;
  top: 45px;
  left: 0;
}
#header_sub .inner > h1 a {
  font: bold 24px/1 "Poppins";
  color: #444;
  letter-spacing: 1px;
}
#header_sub .inner .menuWeb #gnb {
  position: absolute;
  top: 48px;
  right: 15.5%;
}
#header_sub .inner .menuWeb #gnb li {
  float: left;
}
#header_sub .inner .menuWeb #gnb li a {
  display: block;
  padding: 16px 40px;
  font: bold 14px/1 "Poppins";
  color: #777;
  transition: 0.5s;
}
#header_sub .inner .menuWeb #gnb li a:hover {
  color: #000;
}
#header_sub .inner .menuWeb .util {
  position: absolute;
  top: 40px;
  right: 30px;
}
#header_sub .inner .menuWeb .util li {
  float: left;
  margin-left: 30px;
}
#header_sub .inner .menuWeb .util li a {
  display: block;
  padding: 16px 0;
  font: 14px/2 "Poppins";
  color: #999;
}
#header_sub .inner .menuWeb .util li a:hover {
  color: #000;
}
#header_sub .inner .menuWeb .util li a img {
  width: 14px;
  height: 14px;
}

.content {
  padding: 0 0 150px;
}
.content .sub_visual {
  width: 100%;
  height: 250px;
  background: #7fb685;
  margin-bottom: 100px;
}
.content .inner {
  width: 1180px;
  margin: 0 auto;
  min-height: 500px;
}

#footer_sub {
  width: 100%;
  padding: 117px 0 78px 0;
  background: #7fb685;
}
#footer_sub .inner {
  width: 1180px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}
#footer_sub .inner .wrap {
  width: 40%;
  height: 100%;
  padding-right: 10%;
}
#footer_sub .inner .wrap h1 {
  font: bold 25px/1 "Poppins";
  color: #fff;
  margin-bottom: 38px;
}
#footer_sub .inner .wrap p {
  font: 15px/25px "Poppins";
  color: #ddd;
}
#footer_sub .inner ul p {
  font: 22px/1 "Poppins";
  color: #fff;
  margin-bottom: 28px;
}
#footer_sub .inner ul li a {
  font: 15px/30px "Poppins";
  color: #ddd;
}
#footer_sub .inner ul .sns a i {
  font-size: 20px;
  color: #fff;
  margin-top: 47px;
  margin-right: 14px;
}

#header {
  width: 100%;
}
#header .inner {
  width: 1180px;
  height: 157px;
  margin: 0 auto;
  position: relative;
}
#header .inner > h1 {
  position: absolute;
  top: 45px;
  left: 0;
}
#header .inner > h1 a {
  font: bold 24px/1 "Poppins";
  color: #444;
  letter-spacing: 1px;
}
#header .inner .menuWeb #gnb {
  position: absolute;
  top: 48px;
  right: 15.5%;
}
#header .inner .menuWeb #gnb li {
  float: left;
}
#header .inner .menuWeb #gnb li a {
  display: block;
  padding: 16px 40px;
  font: bold 14px/1 "Poppins";
  color: #777;
  transition: 0.5s;
}
#header .inner .menuWeb #gnb li a:hover {
  color: #000;
}
#header .inner .menuWeb .util {
  position: absolute;
  top: 40px;
  right: 30px;
}
#header .inner .menuWeb .util li {
  float: left;
  margin-left: 30px;
}
#header .inner .menuWeb .util li a {
  display: block;
  padding: 16px 0;
  font: 14px/2 "Poppins";
  color: #999;
}
#header .inner .menuWeb .util li a:hover {
  color: #000;
}
#header .inner .menuWeb .util li a img {
  width: 14px;
  height: 14px;
}

#visual {
  width: 100%;
  height: calc(100vh - 157px);
}
#visual .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#visual .inner::before {
  content: "";
  display: block;
  width: 110px;
  height: 110px;
  border: 5px solid #7fb685;
  position: absolute;
  top: 467px;
  left: 244px;
  z-index: -2;
}
#visual .inner .txt {
  width: 486px;
  height: 330px;
  padding: 45px 90px;
  background: #7fb685;
  position: absolute;
  top: 110px;
  left: 0;
  z-index: 5;
}
#visual .inner .txt h1 {
  font: bold 36px/50px "Poppins";
  color: #fff;
  margin-bottom: 30px;
}
#visual .inner .txt p {
  font: 16px/20px "Poppins";
  color: #eee;
}
#visual .inner .pic {
  width: 910px;
  height: 588px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
#visual .inner .pic .swiper-wrapper {
  width: 880px;
  height: 565px;
  position: relative;
}
#visual .inner .pic .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
#visual .inner .pic .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
#visual .inner .pic::after {
  content: "\f063";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 40px;
  line-height: 110px;
  text-align: center;
  color: #fff;
  display: block;
  width: 125px;
  height: 110px;
  background: #7fb685;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}

#list {
  width: 100%;
  padding-top: 133px;
  padding-bottom: 157px;
}
#list .inner {
  width: 1180px;
  height: 338px;
  margin: 0 auto;
  position: relative;
}
#list .inner::after {
  content: "";
  display: block;
  width: 110px;
  height: 5px;
  background: #7fb685;
  position: absolute;
  top: 45px;
  left: 0;
}
#list .inner h1 {
  width: 1020px;
  float: right;
  font: bold 40px/45px "Poppins";
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 110px;
}
#list .inner ul {
  width: 100%;
  display: flex;
  justify-content: center;
}
#list .inner ul li {
  width: 380px;
  height: 125px;
  margin-right: 20px;
}
#list .inner ul li:last-of-type {
  margin-right: 0px;
}
#list .inner ul li .pic {
  width: 80px;
  height: 100%;
  float: left;
  padding-right: 30px;
}
#list .inner ul li .pic img {
  width: 50px;
  height: 50px;
}
#list .inner ul li .txt {
  width: 300px;
  height: 100%;
  float: left;
}
#list .inner ul li .txt h2 {
  font: bold 25px/1 "Poppins";
  color: #555;
  margin-bottom: 38px;
}
#list .inner ul li .txt p {
  font: 15px/22px "Poppins";
  color: #777;
}
#slide {
  width: 100%;
  padding: 80px 0;
  position: relative;
}
#slide .swiper-wrapper {
  width: 1180px;
  height: 690px;
  margin: 0 auto;
  position: relative;
  /*
  .txt{
      width:45%;
      height:100%;
      float:right;
      padding:100px 0;
      h1{
          font:bold 40px/45px 'Poppins';
          letter-spacing:1px;
          color:#333;
          margin-bottom:38px;
      }
      p{
          font: 15px/22px "Poppins";
          color: #777;
      }
  }
  */
}
#slide .swiper-wrapper .swiper-slide {
  width: 450px;
  height: 100%;
  display: flex;
  overflow: hidden;
}
#slide .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#slide .swiper-wrapper .swiper-slide h2 {
  display: none;
}
#slide .swiper-wrapper .swiper-slide p {
  display: none;
}
#slide .swiper-button-prev {
  left: auto;
  top: auto;
  right: 100px;
  bottom: 50px;
}
#slide .swiper-button-next {
  top: auto;
  right: 60px;
  bottom: 50px;
}

#con {
  width: 100%;
  padding: 80px 0;
}
#con .inner {
  width: 1180px;
  height: 863px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}
#con .inner .txt {
  width: 45%;
  height: 100%;
}
#con .inner .txt h1 {
  font: bold 40px/45px "Poppins";
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 100px;
}
#con .inner .txt .or {
  width: 85px;
  height: 415px;
  float: left;
}
#con .inner .txt .or li {
  width: 100%;
  height: 100%;
}
#con .inner .txt .or li span {
  display: block;
  width: 55px;
  height: 55px;
  background: #7fb685;
  font: bold 18px/55px "Poppins";
  color: #fff;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 125px;
  position: relative;
}
#con .inner .txt .or li span::after {
  content: "";
  display: block;
  width: 5px;
  height: 94px;
  background: #eee;
  position: absolute;
  top: 70px;
  left: 25px;
}
#con .inner .txt .or li span:last-child::after {
  display: none;
}
#con .inner .txt .wrap {
  width: 446px;
  height: 100%;
  float: left;
}
#con .inner .txt .wrap article {
  width: 100%;
  height: 180px;
  padding: 15px;
}
#con .inner .txt .wrap article h2 {
  font: bold 25px/1 "Poppins";
  color: #555;
  margin-bottom: 38px;
}
#con .inner .txt .wrap article p {
  font: 15px/22px "Poppins";
  color: #777;
}
#con .inner .pic {
  width: 45%;
  height: 100%;
}
#con .inner .pic video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: 0.5s;
}
#con .inner .pic video:hover {
  opacity: 0.6;
}

#say {
  width: 100%;
  padding: 80px 0;
}
#say .inner {
  width: 1180px;
  height: 590px;
  margin: 0 auto;
  position: relative;
}
#say .inner h1 {
  font: bold 40px/45px "Poppins";
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 90px;
}
#say .inner .arrow .left {
  position: absolute;
  top: 36px;
  right: 75px;
}
#say .inner .arrow .left i {
  font-size: 30px;
  color: #7fb685;
  opacity: 0.6;
}
#say .inner .arrow .right {
  position: absolute;
  top: 36px;
  right: 0;
}
#say .inner .arrow .right i {
  font-size: 30px;
  color: #7fb685;
  opacity: 0.6;
}
#say .inner .wrap {
  width: 100%;
  height: 440px;
}
#say .inner .wrap article {
  width: 580px;
  height: 100%;
  margin-right: 20px;
  float: left;
  padding: 47px;
  background: #7fb685;
}
#say .inner .wrap article:last-of-type {
  margin-right: 0px;
}
#say .inner .wrap article i {
  font-size: 55px;
  color: #fff;
  margin-bottom: 40px;
}
#say .inner .wrap article h2 {
  font: 25px/36px "Poppins";
  color: #eee;
  margin-bottom: 36px;
}
#say .inner .wrap article p {
  font: 15px/22px "Poppins";
  color: #eee;
  margin-bottom: 36px;
}
#say .inner .wrap article .peo {
  width: 486px;
  height: 55px;
  position: absolute;
  bottom: 0;
}
#say .inner .wrap article .peo img {
  width: 55px;
  height: 100%;
  border-radius: 50%;
  margin-right: 16px;
  float: left;
}
#say .inner .wrap article .peo > p {
  font: 12px/22px "Poppins";
  color: #eee;
  float: left;
}
#say .inner .wrap article .peo > p span {
  font: 16px/1 "Poppins";
}

#sub {
  width: 100%;
  padding: 80px 100px;
}
#sub .inner {
  width: 1180px;
  height: 270px;
  margin: 0 auto;
  position: relative;
}
#sub .inner h1 {
  font: bold 40px/60px "Poppins";
  letter-spacing: 1px;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}
#sub .inner p {
  font: 15px/28px "Poppins";
  color: #777;
  text-align: center;
  margin-bottom: 40px;
}
#sub .inner .searchBox {
  width: 700px;
  height: 80px;
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px;
  overflow: hidden;
}
#sub .inner .searchBox input[type=text] {
  width: 460px;
  height: 60px;
  font: bold 16px/22px "Poppins";
  color: #333;
  letter-spacing: 1px;
  padding-left: 10px;
  border: none;
}
#sub .inner .searchBox .btnSearch {
  width: 200px;
  height: 60px;
  font: 16px/22px "Poppins";
  text-align: center;
  color: #eee;
  background: #7fb685;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

#footer {
  width: 100%;
  padding: 117px 0 78px 0;
  background: #7fb685;
}
#footer .inner {
  width: 1180px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}
#footer .inner .wrap {
  width: 40%;
  height: 100%;
  padding-right: 10%;
}
#footer .inner .wrap h1 {
  font: bold 25px/1 "Poppins";
  color: #fff;
  margin-bottom: 38px;
}
#footer .inner .wrap p {
  font: 15px/25px "Poppins";
  color: #ddd;
}
#footer .inner ul p {
  font: 22px/1 "Poppins";
  color: #fff;
  margin-bottom: 28px;
}
#footer .inner ul li a {
  font: 15px/30px "Poppins";
  color: #ddd;
}
#footer .inner ul .sns a i {
  font-size: 20px;
  color: #fff;
  margin-top: 47px;
  margin-right: 14px;
}

/*# sourceMappingURL=style.css.map */
