.community{
    .sub_visual{
        background:url(../img/sub1.jpg) no-repeat center/cover fixed;
    }



    .inner{
        padding-bottom:100px;

        table{
            width:100%; 
            border-bottom:2px solid #111; 
            border-collapse:collapse; 
            margin-bottom:50px; 
            tr{
                &:nth-of-type(even){ background:#eee; }

                &:hover{ background:lightcyan; }

                th{
                    padding:15px; 
                    background:#aaa; 
                    color:#fff; 

                    &:nth-of-type(1){ width:10%; }
                    &:nth-of-type(3){ width:15%; }
                    &:nth-of-type(4){ width:15%; }
                }
                td{
                    padding:20px; 
                    border-bottom:1px solid #ddd; 
                    text-align:center; 

                    &:nth-of-type(2){ text-align:left; }
                    &:nth-of-type(3){ font-family:"맑은 고딕"; }
                    a{
                        color:#333; font-family:"arial"; line-height:1.4; 
                    }
                }
            }
        }

        .pagination{
            width:100%;  text-align:center; 

            &::after{ content:''; display:block; clear:both; }
            .prev{
                float:left; 
                display:block; width:30px; height:30px; 
                font-size:20px; color:#eee; text-align:center; background:#555; 
            }
            .next{
                float:right; 
                display:block; width:30px; height:30px; 
                font-size:20px; color:#eee; 
                text-align:center; background:#555; 
            }

            .numbers{
                display:inline-block; text-align:center; 
                font-size:0; 

                a{
                    border:1px solid #888; 
                    display:inline-block; 
                    width:30px; height:30px; 
                    font:11px/30px 'arial'; color:#666; 
                    margin:0 5px; 
                    transition:0.5s; 

                    border:none;

                    &:hover{
                        background:#666; color:#fff; 
                    }
                }
            }
        }
    }
}



