.department{
    .sub_visual{
        background:url(../img/sub1.jpg) no-repeat center/cover fixed;

        .inner{
            h1{
                color:#fff;
            }
        }
    }
}

.content{ padding:0; }

.inner{

    .division{
        width:100%;
        padding: 80px 0;
        position:relative;

        .wrap1{
            width:100%;
            height:650px;
            display:flex; justify-content:space-between;

            .pic{
                width:45%;
                position:relative;

                h2{ 
                    font:bold 50px/1.5 'Poppins'; 
                    color:#6475F5;
                    letter-spacing:2px;
                    text-align:right;
                    padding-right:50px;
                    
                    span { color:#000 }
                }

                img:nth-of-type(1){
                    width:46%; height:54%; 
                    object-fit:cover;
                    position:absolute; top:30%; right:0;
                }
                img:nth-of-type(2){
                    width:28%; height:32%;
                    object-fit:cover;
                    position:absolute; top:40%; right:40%;
                }
                img:nth-of-type(3){
                    width:25%; height:30%;
                    object-fit:cover;
                    position:absolute; top:27%; left:7%;
                }
                img:nth-of-type(4){
                    width:32%; height:15%;
                    object-fit:cover;
                    position:absolute; bottom:13%; left:22%;
                }
                img:nth-of-type(5){
                    width:32%; height:15%;
                    object-fit:cover;
                    position:absolute; bottom:28%; left:0%;
                }
            }

            .txt{
                width:45%;
                position: relative;

                h3{
                    font: bold 40px/1 "Poppins";
                    color: #333;
                    margin:98px 0 40px;
                }
                p{
                    font: 15px/26px "Poppins";
                    color: #555;
                    margin-bottom:15px;
                    letter-spacing:1px;
                }

                &::before{
                    width: 30%;
                    display:block;
                    content:'Lorem ipsum dolor sitamet, conse ctetur dolorum quod odio sadolorum quod odio.';
                    font:10px/1 'arial';
                    text-align:right;
                    position:absolute; right:0; top:15px;
                }
            }
        }

        &::before{
            content:''; display:block; 
            width:5px;  
            height:350px;  
            background:#aaa; 
            position:absolute; bottom:40px; left:50%; 
        }

        &::after{
            content:''; display:block; 
            width:300px;  
            height:5px;  
            background:#aaa; 
            position:absolute; bottom:95px; left:230px; 
        }
    }

    .banner{
        width:100%;
        padding: 80px 0;
        background:#aaa;

        border:1px solid red;

        h2{ 
            font:bold 40px/1 'Poppins'; 
            margin-bottom:100px;
        }

        .wrap2{
            
        }
    }

    .member{
        width:100%;
        padding: 80px 0;

        h2{ 
            font:bold 40px/1 'Poppins'; 
            margin-bottom:100px;
            text-align:center;
        }

        .wrap{
            width:100%;
            display:flex; flex-wrap:wrap;

            article{
                width:32%;
                margin-right:2%;
                margin-bottom:30px;
                position:relative;

                &:nth-of-type(3n){ margin-right:0; }

                //&:nth-of-type(2n){ filter: grayscale(0.9); }
                //&:nth-of-type(2n + 1){ filter: grayscale(0.9); }

                img{
                    width:100%;
                    height:450px;
                    object-fit:cover;
                    margin-bottom:15px;
                    filter: grayscale(0.9);
                    transition:0.5s;
                }
                h3{
                    font: bold 25px/1 "Poppins";
                    color: #333;
                    margin-bottom:5px;
                }

                p{
                    font: 15px/22px "Poppins";
                    color: #555;
                    padding-bottom:15px;
                    transition:0.5s;
                }

                &::after{
                    content:''; display:block;
                    width:0px; 
                    height:3px; 
                    background:#6475F5; 
                    position:absolute; left:0%; bottom:0%;
                    transition:1s;
                }

                &:hover{
                    img{ filter: grayscale(0); }
                    &::after{ width:100%; }
                }
            }
        }
    }

    .con{
        width:100%;
        height:500px;
        padding-top:80px;
    
        .wrap4{
            width:100%;
            height:100%;
            display:flex;

            article{
                width:50%;
                //padding:30px;
                text-align:center;
                //overflow:hidden;

                &:nth-of-type(1){
                    padding:50px;
                }

                h3{
                    font: bold 40px/1.5 "Poppins";
                    color: #000;
                    letter-spacing:1px;
                    margin:50px 0;

                    span{ color:#6475F5; }
                }

                p{
                    font: 15px/26px "Poppins";
                    color: #555;
                    letter-spacing:1px;
                }

                img{
                    width:100%;
                    height:100%;
                    object-fit:cover;
                }
            }
        }
    }
}

