.join{
    .sub_visual{
        background:url(../img/sub1.jpg) no-repeat center/cover fixed;
    }

    .inner{
        // padding-bottom:80px;
        h2{
            font:bold 18px/1 'Poppins'; color:#555; 
            margin-bottom:20px; 
        }
        #terms{
            width:100%; height:200px; 
            resize:none; padding:20px; 
            font:12px/1.5 'Poppins'; color:#888; 
            background:#eee; 
            margin-bottom:10px; 
        }
        .agreement{
            margin-bottom:70px; 
            text-align:right;

            label[for="agree"]{
                font-size:12px; 
            }            
        }

        table{
            width:100%;
            //border-top:2px solid #aaa; 
            //border-bottom:2px solid #aaa; 
            margin-bottom:100px;

            th,td{
                //border-bottom:1px solid #ddd; 
                padding:15px 25px; 
            }

            th{
                width:20%; 
                text-align:right;

                input[type=reset], input[type=submit]{
                    width:170px; height:40px; 
                    border:none; 
                    margin:10px; 
                    font:bold 14px/40px 'Poppins'; 
                    color:#555; 
                    cursor:pointer; 
                    transition:0.5s; 

                    &:hover{
                        background:#555; 
                        color:#fff;
                    }
                }

                input[type=submit]{ background:#6475F5; color:#fff; }

                &:last-child{ text-align:center; }
            }
            td{
                //border-left:1px solid #ddd; 

                input[type=text], input[type=password],select{
                    width:60%; 
                    background:rgba(0,0,0,0.03); 
                    padding:10px; 
                    border:1px solid #ddd; 
                }
                input[type=radio], input[type=checkbox]{
                    margin-right:30px; 
                }
                textarea{
                    resize:none; 
                    width:60%; height:150px; 
                    background:rgba(0,0,0,0.03); 
                    padding:10px; 
                    border:1px solid #ddd; 
                }

                //동적으로 생성될 에러 메시지 스타일 
                p{
                    font:11px/1 "맑은 고딕"; 
                    color:hotpink; 
                    margin-top:10px; 
                }
            }
        }
    }

}


/*tablet -------------------------------------*/
@media screen and (max-width: $tablet) {
    .join{
    
        .inner{
            table{
                //margin-bottom:100px;
    
                th,td{
                    //padding:15px 25px; 
                }
    
                th{
                    //width:20%; 
                    text-align:center;
                }
                td{
                    input[type=text], input[type=password],select{ width:80%; }

                    input[type=radio], input[type=checkbox]{ margin-right:20px; }
                    
                    textarea{ width:80%; }
                }
            }
        }
    }
}