@charset "UTF-8"; 

#header_sub{
    width:100%;

    .inner{
        width:1180px; //
        height:157px; //
        margin:0 auto;
        position:relative;

        >h1{
            position:absolute; top:45px; left:0; //

            a {
				font: bold 24px/1 "Poppins";
				color: #444;
                letter-spacing:1px;
			}
        }

        .menuWeb{
			#gnb{
                position: absolute;
                top: 48px; //
				right: 15.5%;
                
                li {
					float: left;

					a {
						display: block;
						padding: 16px 40px;
						font: bold 14px/1 "Poppins";
						color: #777;
                        transition:0.5s;

                        &:hover {
                            color:#000;
						}
					}
				}
			}

            .util {
				position: absolute;
				top: 40px; //
				right: 30px; //

				li {
					float: left;
					margin-left: 30px;

					a {
                        display: block;
						padding: 16px 0;
						font: 14px/2 "Poppins";
						color: #999;

                        &:hover {
                            color:#000;
                        }

                        img{
                            width:14px;
                            height: 14px;
                        }
					}
				}
			}
        }
    }
}

.content{
    padding:0 0 150px; 

    .sub_visual{
        width:100%; height:250px; 
        background:#7fb685; 
        margin-bottom:100px; 
    }
    .inner{
        width:1180px; margin:0 auto; 
        //min-height:500px; 
    }
}

#footer_sub{
    width:100%;
    padding:117px 0 80px 0;
    background:#7fb685;

    .inner{
        width:1180px; //
        margin:0 auto;
        position:relative;
        display:flex;

        .wrap{
            width:40%;
            height:100%;
            padding-right:10%;

            h1{
                font: bold 25px/1 "Poppins";
                color: #fff;
                margin-bottom: 38px;
            }
    
            p{
                font: 15px/25px "Poppins";
                color: #ddd;
            }
        }

        .footerLi{
            width:60%;
            display:flex;
            justify-content:space-between;

            ul{ 
                p{
                    font:22px/1 "Poppins";
                    color: #fff;
                    margin-bottom: 28px;
                }

                li{
                    a{
                        font: 15px/30px "Poppins";
                        color: #ddd;
                    }
                }

                .sns{
                    a{
                        i{
                            font-size:20px;
                            color: #fff;
                            margin-top:47px;
                            margin-right:14px;
                        }
                    }
                }
            }
        }
    }

}