@charset "UTF-8";


@import "reset.scss";
@import "sub_layout.scss"; 


#header{
    width:100%;

    border:1px solid red;

    .inner{
        width:1180px; //
        height:157px; //
        margin:0 auto;
        position:relative;

        >h1{
            position:absolute; top:45px; left:0; //

            a {
				font: bold 24px/1 "arial";
				color: #444;
                letter-spacing:1px;
			}
        }

        .menuWeb{
			#gnb{
                position: absolute;
                top: 45px; //
				right: 25%;
                
                li {
					float: left;

					a {
						display: block;
						padding: 16px 40px;
						font: bold 14px/1 "arial";
						color: #777;

					}
				}
			}

            .util {
				position: absolute;
				top: 45px; //
				right: 30px; //

				li {
					float: left;
					margin-left: 30px;

					a {
						font: 12px/1 "arial";
						color: #999;

                        //i{}

                        img{
                            width:14px;
                            height: 14px;
                        }
					}
				}
			}
        }
    }
}

#visual{
    width:100%;
    height:calc(100vh - 157px);

    //overflow:hidden;

    border:1px solid blue;

    .inner{
        width:1180px; //
        height:100%;
        margin:0 auto;
        position:relative;

        .txt{
            width:486px; //
            height:330px; //
            padding:45px 90px; //
            background:khaki;
            position:absolute; top: 110px; left: 0; //

            h1{
                font:bold 36px/50px 'arial';
                color:#fff;
                margin-bottom:30px;
            }
            p{
                font:bold 16px/20px 'arial';
                color:#fff;
            }
        }
        .pic{
            width:910px; //
            height:588px; //
            position:absolute; top:0; right:0; //
            z-index:-1;

            img{
                width:880px; //
                height:565px; //


                border:1px solid orange;
            }

            &::before{
                content: ''; display:block; 
                width:110px; //
                height:110px; //
                border:5px solid khaki;
                position:absolute; bottom:0; left:-28px; //
                z-index:-2;
            }

            &::after{
                content: '\f063';
                font-family:"Font Awesome 5 Free"; 
                font-weight:900;
                font-size:40px;
                line-height:110px;
                text-align:center;
                color:#fff;
                display:block; 
                width:125px; //
                height:110px; //
                background:khaki;
                position:absolute; bottom:0; right:0;
            }
        }
    }
}

#list{
    width:100%;
    padding-top:133px; padding-bottom:157px;
    border:1px solid red;

    .inner{
        width:1180px; //
        height:338px; //
        margin:0 auto;
        position:relative;

        &::after{
            content: ''; display:block; 
            width:110px; //
            height:5px; //
            background:khaki;
            position:absolute; top:45px; left:0;
        }

        h1{
            width:1020px;
            float:right;
            font:bold 40px/45px 'arial';
            letter-spacing:1px;
            color:#333;
            margin-bottom:110px; //
        }

        ul{
            width:100%;

            li::after{ content:''; display:block; clear:both; } 

            li{
                width:380px;
                height:125px; //
                float:left;
                margin-right:20px;
                padding:0px 30px;

                &:last-of-type {
                    margin-right: 0px;
                }

                .pic{
                    width:80px;
                    height:100%;
                    float:left;
                    padding-right:30px;

                    img{
                        width:50px;
                        height:50px;
                    }
                }
                .txt{
                    width:300px;
                    height:100%;

                    h2{
                        font: bold 25px/1 "arial";
                        color: #555;
                        margin-bottom: 38px;
                    }
                    p{
                        font: 15px/22px "arial";
                        color: #777;
                    }
                }
            }
            
        }
    }
}

#co{
    width:100%;
    padding: 80px 0;
    border:1px solid red;

    .inner{
        width:1180px; //
        height:690px; // 
        margin:0 auto;
        position:relative;

    }
}  //

#con{
    width:100%;
    padding:80px 0;
    border:1px solid #801111;

    .inner{
        width:1180px; //
        height:863px; // 
        margin:0 auto;
        position:relative;

        .txt{
            width:45%;
            height:100%;
            float:left;

            h1{
                font:bold 40px/45px 'arial';
                letter-spacing:1px;
                color:#333;
                margin-bottom:100px;
            }

            .or{
                width:85px; //
                height:415px;
                float:left;

                li{
                    width:100%;
                    height:100%;

                    span{
                        display:block; 
                        width:55px; height:55px; // 
                        background:khaki; 
                        font:bold 18px/55px 'arial'; 
                        color:#fff; 
                        text-align:center; 
                        border-radius:50%; 
                        margin-bottom:125px; //
                        position:relative; 
    
                        &::after{
                            content:''; display:block; 
                            width:5px;  
                            height:94px; // 
                            background:#aaa; 
                            position:absolute; top:70px; left:25px; 
                        }

                        &:last-child::after{
                            display:none;
                        }
                    }
                }
            }

            .wrap{
                width:446px; //
                height:100%;
                float:left;

                article{
                    width:100%;
                    height:180px;
                    padding:15px;

                    h2{
                        font: bold 25px/1 "arial";
                        color: #555;
                        margin-bottom: 38px;
                    }
                    p{
                        font: 15px/22px "arial";
                        color: #777;
                    }
                }
            }
        }

        .pic{
            width:45%;
            height:100%;
            float:right;

            border:1px solid green;

            img{

            }
        }

        
        

    }
}

#say{
    width:100%;
    padding: 80px 0;
    border:1px solid pink;

    .inner{
        width:1180px; //
        height:590px; // 
        margin:0 auto;
        position:relative;

        h1{
            font:bold 40px/45px 'arial';
            letter-spacing:1px;
            color:#333;
            margin-bottom:90px; //
        }

        &::before{
            display:block; 
            content: '\f060';
            font-family:"Font Awesome 5 Free"; 
            font-weight:900; 
            font-size:30px;
            color:khaki;
            position:absolute; top:36px; right:75px;
            opacity:0.6;
        }

        &::after{
            display:block; 
            content: '\f061';
            font-family:"Font Awesome 5 Free"; 
            font-weight:900;
            font-size:30px;
            color:khaki;
            position:absolute; top:36px; right:0;
            opacity:0.6;
        }

        .wrap{
            width:100%;
            height:440px;

            article{
                width:580px;
                height:100%;
                margin-right:20px;
                float:left;
                padding:47px;
                background:khaki;

                &:last-of-type {
                    margin-right: 0px;
                }

                img{
                    width:50px;
                    height:50px;
                    margin-bottom:40px;
                }
                h2{
                    font: bold 25px/36px "arial";
                    color: #555;
                    margin-bottom: 36px;
                }
                p{
                    font: 15px/22px "arial";
                    color: #777;
                    margin-bottom:36px;
                }

                .peo{
                    width:100%;
                    height:55px;

                    img{
                        width:55px;
                        height:100%;

                        border-radius:50%;
                        margin-right:16px;
                        float:left;
                    }
                    >p{
                        font:12px/26px "arial";
                        color: #777;
                        float:left;

                        span{
                            font:bold 16px/1 "arial";
                        }
                    }
                }
            }
        }
    }
}

#footer{
    width:100%;
    border:1px solid red;

    .inner{
        width:1180px; //
        height:392px; // 
        margin:0 auto;
        position:relative;
    }
}